.map {
    position: relative;
    flex-grow: 1;
    background-color: black;
    overflow: auto;
}

.map-canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.map-canvas.animation {
    z-index: 1;
}

.fuckit {
    position: fixed;
    top: 45%;
    left: 50%;
    color: orange;
    background-color: green;
}
