.container-counter-panel.selected {
    background-color: #9a9a9a;
}

.counter-panel {
    border: 1px solid lightgrey;
    display: block;
    min-height: 48px;
    padding: 5px;
}

.empty-counter-panel {
    display: flex;
    flex-direction: row;
    min-height: 48px;
    padding: 5px;
}

.counter-panel-main {
    display: flex;
    flex-direction: row;
}

img.counter-panel-weapon-image {
    margin-top: 5px;
    width: 48px;
    height: 48px;
}

.counter-panel-image {
    width: 90px;
    height: 90px;
}

.counter-panel.selected {
    background-color: #9a9a9a;
}

.counter-panel-data {
    display: flex;
    flex-direction: column;

    width: 60px;
    font-size: .60em;
    text-align: center;
}

.counter-panel-engaged {
    color: white;
    background-color: red;
}   