.container-counter-panel.selected {
    background-color:#9a9a9a;
}

.counter-panel {
    border: 1px solid lightgrey;
    display:flex;
    flex-direction: row;
    min-height:48px;
    padding:5px;
}

.empty-counter-panel {
    display:flex;
    flex-direction: row;
    min-height:48px;
    padding:5px;
}

.counter-panel.support-weapons {
    border-bottom:none;
}

.counter-panel img {
    width:90px;
    height:90px;
}

.counter-panel img.ghost {
    width:48px;
    height:48px;
    opacity: 0.25;
}

.counter-panel.selected {
    background-color:#9a9a9a;
}

.counter-panel-data {
    display:flex;
    flex-direction:column;

    width:70px;
    height:48px;
    font-size:.60em;
    text-align: center;
}