.side-bar {
    overflow:hidden;

    display:flex;
    flex-direction: column;
    align-content: flex-start;

    padding: 0px 0px 10px 0px;

    border-right:1px solid grey;

    min-width:163px;

    color:white;
    background-color:black;
}

.side-bar-task-forces {
    border-top: 1px solid grey;
    overflow-y: auto;
}

.side-bar-one-liner {
    margin-top: 10px;
}

.side-bar-header {
    margin: 5px 0px 5px 0px;
    text-align: left;
    font-weight: bold;
}

.side-bar-tab {
    display: inline-block;
    width: 70px;
    text-align: center;
}

.side-bar-tab-selected {
    display: inline-block;
    width: 70px;
    background-color: grey;

    color: black;
    font-weight: bold;
    text-align: center;
}

.side-bar-counters {
    flex-grow: 1;
    overflow-y: auto;

    display:flex;
    flex-direction: column;
    flex-wrap:nowrap;
    align-content:flex-start;
}