.game {
  text-align: center;
  height:100vh;

  display: flex;
  flex-direction: column;

  background-color: pink;
}

.game-center {
  flex:1;
  overflow:auto;
  background-color:green;

  display:flex;
  flex-direction:row;
  justify-content: stretch;
}
