html, body {
    background-color: black;
    color: white;
    padding: 0px;
    margin: 0px;
    height: 100%;
}

#root {
    height: 100%
}

.player-color-blue {
    background-color: blue;
    border: 2px solid blue;
}

.player-color-green {
    background-color: green;
    border: 2px solid green;
}

.player-color-white {
    background-color: white;
    border: 2px solid white;
    color: black
}

.player-color-yellow {
    background-color: yellow;
    border: 2px solid yellow;
    color: black;
}

.player-color-default {
    background-color: darkgray;
    border: 2px solid darkgray;
    color: white;
}